<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">   <!-- Link to external CSS -->

    
</head>
<body>
    <div class="page-container">
        <h1>Contact Us</h1>
        <p>If you have any questions, please email us at <a href="mailto:prradyumgupta@example.com">prradyumgupta@gmail.com/prasoonmishra@gmail.com/jatin@gmail.com/nitin@gmail.com</a></p>
        
        
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
    
</body>
</html>
