<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>🔍 Sentiment Analysis 🔍</h2>
        <textarea id="text-input" placeholder="Enter your text here..." rows="5" cols="50" required></textarea>
        <button onclick="analyzeSentiment()">Analyze</button>
        <p id="result"></p>
    </div>

    <!-- Logo and Title Section -->
    <div class="logo-title">
        <img src="{{ url_for('static', filename='sci-fi story with a cute robot.webp') }}" alt="SentiMenti Logo">
        <h1>SentiMenti Analyzer</h1>
    </div>

    <!-- Navigation Links -->
    <nav>
        <a href="{{ url_for('policy') }}">Privacy Policy</a> |
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('what_about') }}">What About</a>

        
    </nav>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
